{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>Argentina</h1>
            <p class="help-block">
               Este plugin está en desarrollo.
            </p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=moneda" class="btn btn-block btn-default">
            <span class="badge">1</span> &nbsp;
            Establecer Pesos (ARG) como moneda por defecto
         </a>
      </div>
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=pais" class="btn btn-block btn-default">
            <span class="badge">2</span> &nbsp;
            Establecer Argentina como pais por defecto
         </a>
      </div>
   </div>
</div>

{include="footer"}